<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="/simple-grid.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <section class="page-header">
      <!-- h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1 -->
      <img src="white_logo.png" style="max-width:100%; max-height:100%;"/>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      <a href="/" class="btn">Home</a>
      <a href="about" class="btn">About</a>
      <a href="services" class="btn">Services</a>
      <a href="testimonials" class="btn">Testimonials</a>
      <a href="contact" class="btn">Contact Us</a>
    </section>

    <div class="container">

      <div class="row">
        <h2>{{page.title}}</h2>
        <div class="col-12">
          We believe in the power of tutoring because of the focus and attention the tutor is able to place on the student. A great tutor must not only know the material, but must also be an incredible communicator. That's why our goal is to communicate and foster growth in a manner that makes most sense for the student, and to do so with clarity, concern, and most importantly, encouragement.

          <p>We not only help students master material, but we equip them with the skills necessary for long term academic success. We instill in each student self-confidence and an intellectual curiosity that are the hallmarks of a good education. We help them uncover their own unlimited potential.</p>
        </div>
      </div>

      <br><br>

      <div class="row">
        <div class="col-4">
          <img src="luigi.jpg" style="max-width:100%; max-height:100%; border-radius: 6px;">
        </div>
        <div class="col-8">
          <h3 style="margin-top: 0">Luigi Patruno, Founder &amp; Tutor</h3>
          My passion is empowering students to see they are capable of learning anything. After studying mathematics and computer science at the undergraduate and graduate levels and working as a Data Scientist and Engineer, I decided to return to what I care most about, education. I've tutored students in math, science, and logic courses for over 12 years and I teach several graduate level courses in statistics and computer science at Fordham University in New York City.

          <p>If you are struggling with math or science and want to succeed, <a href="contact">contact us</a>. I look forward to learning with you!</p>
        </div>
      </div>


    <section class="main-content">

      <footer class="site-footer">
        <center><span class="site-footer-credits">&copy 
        	<script type="text/javascript">document.write(new Date().getFullYear());</script> 
        Good Karma Tutoring &middot; (917) 960-2082 &middot; goodkarmatutoring@gmail.com</span></center>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
