<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="/simple-grid.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <section class="page-header">
      <!-- h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1 -->
      <img src="white_logo.png" style="max-width:100%; max-height:100%;"/>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      <a href="/" class="btn">Home</a>
      <a href="about" class="btn">About</a>
      <a href="services" class="btn">Services</a>
      <a href="testimonials" class="btn">Testimonials</a>
      <a href="contact" class="btn">Contact Us</a>
    </section>

    <div class="container">
      <div class="row">
        <h2>{{page.title}}</h2>
      </div>

      <div class="row">
        <div class="col-4">
          <blockquote>
            Luigi Patruno is the only reason I passed AP Calculus last year. He tutored me in the subject for most of the year, and I watched my grades slowly climb twenty points at a time each test with his help. He was always calm and determined to teach me even when I was sure I would never understand a topic. He was certainly always surer of my success than I was.
          </blockquote>
          Erin C., Student
          <br><br><hr style="border-top: solid 1px #eff0f1;">

          <blockquote>
            Luigi dedicated about two hours of his time to me a week, mostly on weekends. Not only was he willing to meet me every Sunday evening, but Tuesday afternoons as well. Though I would forget basic rules and theorems, like the basic definition of differentiability and the Fundamental Laws of Calculus, he never became angry or upset. He would just start over and find more ways to explain it. It was obvious how enthusiastic he was about math since he could come up with endless ways to describe the same thing.
          </blockquote>
          Jeff L., Student
          <br><br><hr style="border-top: solid 1px #eff0f1;">

          <blockquote>
            Luigi tutored me in statistics with a hypothesis test problem. His explanation was thorough and he simplified the information for me. I felt totally comfortable asking questions. I left the session feeling empowered and wished I found him sooner. If you are struggling or need guidance on a topic in statistics, I would definitely recommend you give Luigi a chance at helping you.
          </blockquote>
          Keiana D., Student
          <hr style="border-top: solid 1px #eff0f1;">
        </div>



        <div class="col-4">
          <blockquote>
            If you are taking math courses in pursuit of a degree and need once-in-a-lifetime tutoring support, I am honored to recommend Luigi Patruno as an amazing resource for you. I am personally grateful that he has dedicated his time and effort to education in mathematics and computer science, at a time when it is sorely needed. He is a wonderful teacher. I could not be happier to recommend someone.
          </blockquote>
          Jay P., Student
          <br><br><hr style="border-top: solid 1px #eff0f1;">

          <blockquote>
            Luigi tutored my daughter Lyla several times for Business Finite Math and found it so helpful that we hired him for additional tutoring when she began taking Calculus.
          </blockquote>
          Cindy D., Mother
          <br><br><hr style="border-top: solid 1px #eff0f1;">

          <blockquote>
            Obviously cared about what he was doing and how much we learned, and was able to share practical knowledge and experiences. Also, very clear explanations of all of the topics.
          </blockquote>
          Amanda S., Student
          <br><br><hr style="border-top: solid 1px #eff0f1;">

          <blockquote>
            Genuine passion for the subject came across, which of course makes you, as a student, more interested and engaged.
          </blockquote>
          Dan C., Student
          <hr style="border-top: solid 1px #eff0f1;">
        </div>


        <div class="col-4">

          <blockquote>
            As an instructor at Fordham University, I witnessed Mr. Patruno on many occasions explain very difficult concepts in a way that was both understandable and engaging. I was so impressed by his ability that I trusted him to tutor my own son in advanced calculus when he was in high school. I was not disappointed. Mr. Patruno has a gift. A rare ability to break down very complex problems and explain them to those who may be challenged by them. Mr. Patruno is an excellent teacher and I highly recommend him to anyone who is having difficulty understanding certain mathematical concepts or to anyone who wants to excel and advance in their study of mathematics.
          </blockquote>
          Christine P.K., Mother
          <br><br><hr style="border-top: solid 1px #eff0f1;">

          <blockquote>
            He was an excellent teacher because he regularly asked for feedback and adapted his class to fit my needs. I really enjoyed Luigi's engaging teaching style as it motivated me to put in effort in a topic I was less interested in. I would definitely recommend him to anyone looking to develop their math skills!
          </blockquote>
          Kenichi Y., Student
          <hr style="border-top: solid 1px #eff0f1;">

      </div>
    </div>


    <section class="main-content">

      <footer class="site-footer">
        <center><span class="site-footer-credits">&copy 
        	<script type="text/javascript">document.write(new Date().getFullYear());</script> 
        Good Karma Tutoring &middot; (917) 960-2082 &middot; goodkarmatutoring@gmail.com</span></center>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
